/* CSS Document */
.bg{
	background: #FFF;
  	width: 100%;
  	margin: 50px auto;
  	padding: 10px 30px 80px;
}
.ip, .section {
  clear: both;
  padding-top: 10px;
  display: none;
}
.lb {
  font-weight: bold;
  color:#333;
  font-size: 14px;
  display: block;
  float: left;
  padding: 10px 30px;
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #DDD;
}
.lb:hover {
  cursor: pointer;
  text-decoration: none;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
  display: block;
}
.ip:checked + .lb {
  border-top-color: #03F;
  border-right-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: transparent;
  text-decoration: none;
}
